<template>
    <div class="container">
        <h1>{{ title }}</h1>
        <!-- <hr /> -->
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "ContentContainer",
    props: ["title"],
};
</script>

<style scoped>
.container {
    padding: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
}
hr {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin: 0px 10px 25px 10px;
}
</style>