<template>
    <div class="frame" :class="{ folding: isFolding }" @click="toggleFolding">
        <span v-if="title">{{ title }}</span>
        <slot></slot>
    </div>
</template>
<script>
export default {
    name: "GroupBox",
    props: ["title", "folding"],
    data() {
        return {
            isFolding: this.folding,
        };
    },
    methods: {
        toggleFolding() {
            if (this.isFolding !== undefined) {
                this.isFolding = !this.isFolding;
            }
        },
    },
    mounted() {
        console.log(this.isFolding);
    },
};
</script>
<style scoped>
.frame {
    margin: 7px;
    width: 100%;
    height: 100%;
    border: 1px dotted rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(155, 154, 154);
    transition: 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.folding {
    height: 60px;
}
.folding:hover {
    box-shadow: 0px 0px 5px rgba(26, 24, 24, 0.837);
}
span {
    text-align: center;
    margin: 15px;
    font-weight: bolder;
    opacity: 0.6;
}
</style>