<template>
    <div class="checkbox">
        <input
            type="checkbox"
            v-bind="$attrs"
            v-bind:checked="value"
            v-on="inputListeners"
        />
        <span>{{ label }}</span>
    </div>
</template>

<script>
export default {
    name: "CheckBox",
    inheritAttrs: false,
    props: ["label", "value"],
    computed: {
        inputListeners: function () {
            var vm = this;
            return Object.assign({}, this.$listeners, {
                input: function (event) {
                    vm.$emit("input", event.target.checked);
                },
            });
        },
    },
};
</script>

<style scoped>
.checkbox {
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: space-evenly; */
}
input {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
</style>