<template>
    <div class="container">
        <span v-if="label">{{ label }}</span>
        <textarea
            v-bind="$attrs"
            v-bind:value="value"
            v-on="inputListeners"
            rows="5"
        ></textarea>
    </div>
</template>
<script>
export default {
    name: "CustomTextArea",
    inheritAttrs: false,
    props: ["label", "value"],
    computed: {
        inputListeners: function () {
            var vm = this;
            return Object.assign({}, this.$listeners, {
                input: function (event) {
                    vm.$emit("input", event.target.value);
                },
            });
        },
    },
};
</script>
<style scoped>
.container {
    width: 100%;
    margin: 5px;
}

.container > span {
    font-weight: bold;
    margin: 5px;
    font-size: 12px;
    /* padding: 5px; */
}
textarea {
    border-radius: 5px;
    resize: none;
    border: 1px solid #ccc;
    padding: 5px;
    /* margin: 5px; */
    width: calc(100% - 10px);
}
</style>