<template>
    <div
        class="button default"
        v-on="inputListeners"
        :class="{ active: isActive, danger: isDanger }"
    >
        <span>{{ label }}</span>
    </div>
</template>

<script>
export default {
    name: "CustomButton",
    props: ["label", "type"],
    computed: {
        inputListeners: function () {
            var vm = this;
            return Object.assign({}, this.$listeners, {
                click: function () {
                    vm.$emit("click");
                },
            });
        },
        isActive() {
            return this.type === "active";
        },
        isDanger() {
            return this.type === "danger";
        },
    },
};
</script>

<style scoped>
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    margin: 10px 5px;
    min-width: 50px;
    width: calc(100% - 10px);
    /* margin-top: 30px; */
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(26, 24, 24, 0.837);
    /* transform: scale(1.01); */
}
.button:active {
    transform: scale(0.9);
}
.default {
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.609);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(36, 35, 35);
    transition: 0.1s;
    background-color: rgb(167, 167, 167);
}
.active {
    /* background-color: rgba(0, 137, 201, 0.691); */
    background-color: var(--accent);
    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.609);
}
.danger {
    background-color: var(--error);
    /* box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.609); */
}
</style>