<template>
    <div class="help-button" :title="message"><span>?</span></div>
</template>
<script>
export default {
    name: "HelpButton",
    props: ["message"],
};
</script>
<style scoped>
.help-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    min-width: 35px;
    border-radius: 5px;
    background-color: var(--success);
    margin-left: 5px;
    cursor: help;
}
span {
    font-weight: bold;
}
</style>