<template>
    <div class="input-text__container">
        <span v-if="label">{{ label }}</span>
        <div class="row">
            <input v-bind="$attrs" v-bind:value="value" v-on="inputListeners" />
            <help-button v-if="helpMessage" :message="helpMessage" />
        </div>
    </div>
</template>

<script>
import HelpButton from "@/components/controls/HelpButton.vue";

export default {
    name: "InputText",
    components: {
        HelpButton,
    },
    inheritAttrs: false,
    props: ["label", "value", "helpMessage"],
    computed: {
        inputListeners: function () {
            var vm = this;
            return Object.assign({}, this.$listeners, {
                input: function (event) {
                    vm.$emit("input", event.target.value);
                },
            });
        },
    },
};
</script>

<style scoped>
.input-text__container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* font-size: 30px; */
}

.row {
    display: flex;
    flex-direction: row;
}

span {
    font-weight: bold;
    margin: 5px;
    font-size: 12px;
}
input {
    font-size: 1rem;
    min-height: 35px;
    padding: 3px;
    flex: 1;
}
</style>