<template>
    <div class="container" :class="{ active: loaderState }">
        <span class="message">Запрос обрабатывается.<br /><br />Жди.</span>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "Loader",
    props: ["active"],
    computed: {
        ...mapGetters(["loaderState"]),
    },
};
</script>

<style scoped>
.container {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.9);
    z-index: 9999;
}

.message {
    font-size: 5rem;
    text-align: center;
    text-shadow: 1px 1px 7px var(--accent);
}

.active {
    display: flex;
}
</style>