<template>
    <div
        class="notify__container"
        :class="[{ active: notifyState.isActive }, notifyState.type]"
    >
        <h2>{{ notifyState.title }}</h2>
        <br />
        <p>{{ notifyState.text }}</p>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "Notify",
    computed: {
        ...mapGetters(["notifyState"]),
    },
};
</script>

<style scoped>
.notify__container {
    display: none;
    flex-direction: column;
    position: fixed;
    /* width: calc(100% - 200px); */
    min-width: 250px;
    max-width: 400px;
    bottom: 25px;
    /* left: 100px; */
    right: 25px;
    z-index: 9999;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.609);
}

.active {
    display: flex;
}

h2 {
    margin: 10px;
}

p {
    margin: 20px;
}

.info {
    background-color: var(--info);
}

.warn {
    background-color: var(--warn);
}

.error {
    background-color: var(--error);
}

.success {
    background-color: var(--success);
}
</style>