<template>
    <div>
        <span>{{ label }}</span>
        <select
            v-bind:value="value"
            v-on:input="$emit('input', $event.target.value)"
        >
            <option v-for="option in options" :key="option" :value="option">
                {{ option }}
            </option>
        </select>
    </div>
</template>
<script>
export default {
    name: "SelectBox",
    props: ["label", "options", "value"],
};
</script>
<style scoped>
div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
select {
    min-height: 35px;
}
span {
    font-weight: bold;
    margin: 5px;
    font-size: 12px;
}
</style>