<template>
    <div id="logo-container">
        <img src="/logo.png" />
        <h1>Scout</h1>
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "Logo",
};
</script>
<style scoped>
#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 50px;
    margin: 10px;
    margin-bottom: 20px;
}

#logo-container > img {
    object-fit: contain;
    width: 35px;
    height: 35px;
    transform: scale(1.5);
}
</style>