<template>
    <div id="sidebar">
        <logo />
        <custom-button
            v-for="navButton in navButtons"
            :key="navButton.name"
            :type="navButton.type"
            :label="navButton.label"
            @click="changeRoute(navButton.name)"
        />
    </div>
</template>

<script>
import Logo from "./Logo";
import CustomButton from "@/components/controls/CustomButton";

export default {
    name: "Sidebar",
    components: {
        Logo,
        CustomButton,
    },
    data() {
        return {
            navButtons: [
                {
                    name: "Monitoring",
                    label: "Мониторинг",
                    type: "",
                },
                {
                    name: "NewProduct",
                    label: "Товары",
                    type: "",
                },
                {
                    name: "UploadPrices",
                    label: "Прайсы",
                    type: "",
                },
                // {
                //     name: "NewParser",
                //     label: "Добавить новый парсер цен",
                //     type: "",
                // },
                {
                    name: "ParsersInfo",
                    label: "Парсеры",
                    type: "",
                },
            ],
        };
    },
    methods: {
        setActiveNavButton() {
            this.navButtons.forEach((navButton) => {
                if (navButton.name === this.$route.name) {
                    navButton.type = "active";
                } else {
                    navButton.type = "";
                }
            });
        },
        changeRoute(name) {
            if (this.$route.name !== name) {
                this.$router.push({ name });
            }
        },
    },
    mounted() {
        this.setActiveNavButton();
    },
    watch: {
        "$route.name": function () {
            this.setActiveNavButton();
        },
    },
};
</script>

<style scoped>
#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 100vh;
    margin-right: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.609);
    background: rgb(160, 163, 163);
    background: linear-gradient(
        0deg,
        rgba(160, 163, 163, 1) 0%,
        rgba(206, 211, 213, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    );
    border-right: 1px solid rgba(51, 51, 51, 0.363);
}
#side-bar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}
</style>