<template>
    <content-container title="Данные мониторинга"></content-container>
</template>

<script>
import ContentContainer from "@/components/layouts/ContentContainer";

export default {
    name: "DashBoard",
    components: {
        ContentContainer,
    },
    mounted() {
        // alert("Заглушка для обновления сводной информации");
        console.log("dashboard mounted");
    },
};
</script>