<template>
    <content-container title="Создание нового парсера">
        <div class="flex-row">
            <group-box title="Основные настройки" class="stretch flex-grow">
                <input-text
                    v-model="marketName"
                    label="Название магазина:"
                    help-message="Понятное название интернет магазина. Например: СтройМастер, ЛеруаМерлен, Гиперстрой"
                />
                <input-text
                    v-model="marketDomain"
                    label="Домен магазина:"
                    help-message="Домен без http:// или https://. Например: stroymaster.shop, belgorod.leroymerlin.ru, www.belbaza31.ru"
                />
                <input-text
                    v-model="titleSelector"
                    label="Селектор названия товара:"
                    help-message="Найти в dev-tools тег, который однозначно указывает на название товара. Например: h1"
                />
                <input-text
                    v-model="priceSelector"
                    label="Селектор цены товара:"
                    help-message="Найти в dev-tools тег, который однозначно указывает на цену товара. Например: span.current_price"
                />
                <input-text
                    v-model="pageLoadTimeout"
                    label="Таймаут загрузки страницы, мс:"
                    help-message="Значение в миллисекундах. 1 секунда = 1000 миллисекунд. Если оставить пустым, будет использован таймаут по-умолчанию."
                />
            </group-box>
            <group-box title="Дополнительные настройки" class="stretch">
                <div class="flex-column">
                    <check-box
                        label="Использовать случайный User-Agent"
                        v-model="hasRandomUserAgent"
                    />
                    <check-box
                        label="Блокировать загрузку изображений"
                        v-model="hasBlockLoadingImages"
                    />
                    <check-box
                        label="Блокировать загрузку скриптов"
                        v-model="hasBlockLoadingScripts"
                    />
                    <check-box
                        label="Блокировать загрузку медиа контента"
                        v-model="hasBlockLoadingMediaContent"
                    />
                    <check-box
                        label="Блокировать загрузку стилей"
                        v-model="hasBlockLoadingStyles"
                    />
                    <check-box
                        label="Использовать прокси"
                        v-model="hasUseProxy"
                    />
                </div>
            </group-box>
        </div>
        <group-box title="Точечная блокировка запросов">
            <custom-text-area v-model="blockList" />
        </group-box>
        <group-box title="Проверка настроек парсера">
            <input-text
                v-model="testData.url"
                label="Тестовая ссылка на карточку товара"
            />
            <input-text v-model="testData.title" label="Название товара" />
            <input-text v-model="testData.price" label="Цена" />
            <custom-text-area
                label="Лог запросов"
                v-model="testData.debugLog"
            />
            <custom-button label="Проверить" @click="checkParserConfig" />
        </group-box>
        <custom-button
            type="active"
            label="Сохранить"
            @click="sendParserConfigToDatabase"
        ></custom-button>
    </content-container>
</template>

<script>
import ContentContainer from "@/components/layouts/ContentContainer";
import CheckBox from "@/components/controls/CheckBox.vue";
import { mapActions, mapGetters } from "vuex";
import InputText from "../components/controls/InputText.vue";
import GroupBox from "../components/layouts/GroupBox.vue";
import CustomTextArea from "../components/controls/CustomTextArea.vue";
import CustomButton from "../components/controls/CustomButton.vue";

export default {
    name: "NewParser",
    props: ["data"],
    components: {
        ContentContainer,
        CustomButton,
        CheckBox,
        InputText,
        GroupBox,
        CustomTextArea,
    },
    computed: {
        ...mapGetters(["config"]),
    },
    data() {
        return {
            marketName: "",
            marketDomain: "",
            titleSelector: "",
            priceSelector: "",
            hasRandomUserAgent: true,
            hasBlockLoadingImages: true,
            hasBlockLoadingScripts: true,
            hasBlockLoadingMediaContent: true,
            hasBlockLoadingStyles: true,
            hasUseProxy: false,
            pageLoadTimeout: "10000",
            blockList: "",
            testData: {
                url: "",
                title: "",
                price: 0,
                debugLog: "",
            },
        };
    },
    methods: {
        testTextArea() {
            console.log(this.blockList.split("\n"));
        },
        ...mapActions(["toggleActiveLoader", "showNotify"]),
        clearData() {
            this.marketName = "";
            this.marketDomain = "";
            this.titleSelector = "";
            this.priceSelector = "";
            this.hasRandomUserAgent = true;
            this.hasBlockLoadingImages = true;
            this.hasBlockLoadingScripts = true;
            this.hasBlockLoadingMediaContent = true;
            this.hasBlockLoadingStyles = true;
            this.hasUseProxy = false;
            this.blockList = "";
            this.$router.payload = undefined;
        },
        prepareParserConfig() {
            let parserConfig = {
                name: this.marketName,
                domain: this.marketDomain,
                titleSelector: this.titleSelector,
                priceSelector: this.priceSelector,
                options: {
                    randomUserAgent: this.hasRandomUserAgent,
                    blockImages: this.hasBlockLoadingImages,
                    blockScript: this.hasBlockLoadingScripts,
                    blockMedia: this.hasBlockLoadingMediaContent,
                    blockCss: this.hasBlockLoadingStyles,
                    useProxy: this.hasUseProxy,
                },
            };

            if (this.blockList.length > 0) {
                parserConfig.options.blockList = this.blockList.split("\n");
            }

            if (this.pageLoadTimeout.length > 0) {
                parserConfig.options.pageLoadTimeout = this.pageLoadTimeout;
            }

            return parserConfig;
        },
        sendParserConfigToDatabase() {
            let parserConfig = this.prepareParserConfig();

            this.toggleActiveLoader();

            this.$http
                .post(this.config.parserConfigUploadURL, parserConfig)
                .then((response) => {
                    if (response.status === 200) {
                        this.clearData();
                        this.showNotify({
                            type: "success",
                            title: "Настройка нового парсера.",
                            text: "Настройки парсера сохранены в базу данных.",
                        });
                        // Возврат на предыдущий экран
                        this.$router.go(-1);
                    } else {
                        this.showNotify({
                            type: "error",
                            title: "Настройка нового парсера.",
                            text:
                                "Ошибка сохранения настроек парсера в базу данных.",
                        });
                    }
                    this.toggleActiveLoader();
                })
                .catch((err) => {
                    console.log(err);
                    this.toggleActiveLoader();
                });
        },
        checkParserConfig() {
            let parserConfig = this.prepareParserConfig();

            let url = this.testData.url;

            const body = {
                url,
                parserConfig,
            };

            // console.log(JSON.stringify(body));
            this.toggleActiveLoader();

            this.$http
                .post(this.config.checkParserConfigURL, body)
                .then((res) => {
                    this.testData.title = res.data.data.product_name;
                    this.testData.price = res.data.data.product_price;
                    this.testData.debugLog = res.data.debugLog.join("\n");
                    this.toggleActiveLoader();
                })
                .catch((err) => {
                    this.toggleActiveLoader();
                    console.log(err);
                });

            // alert(JSON.stringify(this.testData));
        },
    },
    mounted() {
        if (this.$router.payload) {
            this.marketName = this.$router.payload.name;
            this.marketDomain = this.$router.payload.domain;
            this.titleSelector = this.$router.payload.titleSelector;
            this.priceSelector = this.$router.payload.priceSelector;
            this.hasRandomUserAgent = this.$router.payload.options.randomUserAgent;
            this.hasBlockLoadingImages = this.$router.payload.options.blockImages;
            this.hasBlockLoadingScripts = this.$router.payload.options.blockScript;
            this.hasBlockLoadingMediaContent = this.$router.payload.options.blockMedia;
            this.hasBlockLoadingStyles = this.$router.payload.options.blockCss;
            this.hasUseProxy = this.$router.payload.options.useProxy;

            if (this.$router.payload.options.blockList.length > 0) {
                this.blockList = this.$router.payload.options.blockList.join(
                    "\n"
                );
            }

            if (this.$router.payload.options.pageLoadTimeout) {
                this.pageLoadTimeout = this.$router.payload.options.pageLoadTimeout;
            }

            this.$router.payload = undefined;
        }
    },
};
</script>

<style scoped>
.flex-row {
    display: flex;
    flex-direction: row;
}
.stretch {
    flex: 1;
}
.flex-grow {
    flex-grow: 2;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.disable {
    opacity: 0.6;
    pointer-events: none;
}
</style>