<template>
    <content-container title="Добавление товара в мониторинг">
        <group-box title="Основная информация">
            <input-text
                label="Ссылка на карточку товара в нашем магазине"
                v-model="ourProductURL"
            />
        </group-box>
        <group-box title="Информация о товарах поставщиков">
            <group-box
                class="row"
                v-for="supplierInfo in suppliersInfo"
                :key="supplierInfo.id"
            >
                <div class="column flex">
                    <select-box
                        v-model="supplierInfo.supplierName"
                        label="Название поставщика"
                        :options="suppliersName"
                    />
                    <input-text
                        label="Название товара поставщика"
                        v-model="supplierInfo.productName"
                    />
                </div>
                <custom-button
                    class="flex max-wigth"
                    label="🗑"
                    type="danger"
                    @click="deleteSupplierInfo(supplierInfo)"
                />
            </group-box>
            <custom-button
                label="Добавить товар поставщика"
                @click="addSupplierProduct"
            />
        </group-box>
        <group-box title="Информация о товарах конкурентов">
            <group-box
                class="row"
                v-for="competitorURL in competitorsURL"
                :key="competitorURL.id"
            >
                <input-text
                    class="flex"
                    v-model="competitorURL.url"
                    label="Ссылка на карточку товара конкурента"
                />
                <custom-button
                    class="flex max-wigth"
                    label="🗑"
                    type="danger"
                    @click="deleteCompetitorURL(competitorURL)"
                />
            </group-box>
            <custom-button
                label="Добавить ссылку на товар конкурента"
                @click="addCompetitorURL"
            />
        </group-box>
        <custom-button
            label="Сохранить товар в базу мониторинга"
            type="active"
            @click="saveProductDataToDatabase"
        />
    </content-container>
</template>

<script>
import InputText from "@/components/controls/InputText";
import ContentContainer from "@/components/layouts/ContentContainer";
import CustomButton from "@/components/controls/CustomButton";
import GroupBox from "@/components/layouts/GroupBox";
import SelectBox from "@/components/controls/SelectBox";
import { mapActions, mapGetters } from "vuex";

export default {
    supplierName: "NewProduct",
    components: {
        InputText,
        ContentContainer,
        CustomButton,
        GroupBox,
        SelectBox,
    },
    data() {
        return {
            ourProductURL: "",
            suppliersInfo: [],
            competitorsURL: [],
            suppliersName: [],
        };
    },
    computed: {
        ...mapGetters(["config"]),
    },
    mounted() {
        this.getSuppliersFromDatabase();
    },
    methods: {
        ...mapActions(["toggleActiveLoader", "showNotify"]),
        clearData() {
            this.ourProductURL = "";
            this.suppliersInfo = [];
            this.competitorsURL = [];
        },
        addSupplierProduct() {
            this.suppliersInfo.push({
                id: this.suppliersInfo.length,
                supplierName: "",
                productName: "",
            });
        },
        getSuppliersFromDatabase() {
            this.$http.get(this.config.suppliersNameURL).then(({ data }) => {
                this.suppliersName = data;
            });
        },
        addCompetitorURL() {
            this.competitorsURL.push({
                id: this.competitorsURL.length,
                url: "",
            });
        },
        deleteCompetitorURL(competitorURL) {
            const index = this.competitorsURL.indexOf(competitorURL);
            this.competitorsURL.splice(index, 1);
        },
        deleteSupplierInfo(supplierInfo) {
            const index = this.suppliersInfo.indexOf(supplierInfo);
            this.suppliersInfo.splice(index, 1);
        },
        saveProductDataToDatabase() {
            let productConfig = {
                product_url: this.ourProductURL,
                suppliers_info: this.suppliersInfo.map((item) => {
                    return {
                        supplier_name: item.supplierName,
                        product_name: item.productName,
                    };
                }),
                competitors_url: this.competitorsURL.map((item) => item.url),
            };
            // TODO: реализовать отправку данных дата менеджеру
            // console.log(JSON.stringify(data));

            this.toggleActiveLoader();

            this.$http
                .post(this.config.productConfigUploadURL, productConfig, {
                    timeout: 0,
                })
                .then((response) => {
                    if (response.status === 200) {
                        this.clearData();
                        this.showNotify({
                            type: "success",
                            title: "Добавление товара в мониторинг.",
                            text: "Настройки товара сохранены в базу данных.",
                        });
                    } else {
                        this.showNotify({
                            type: "error",
                            title: "Добавление товара в мониторинг.",
                            text:
                                "Ошибка сохранения настроек товара в базу данных.",
                        });
                    }
                    this.toggleActiveLoader();
                });
        },
    },
};
</script>

<style scoped>
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.flex {
    flex: 1;
}

.max-wigth {
    max-width: 35px;
}
</style>