<template>
    <content-container title="Создание нового пользователя">
        <!-- <loader :active="showLoader" /> -->
    </content-container>
</template>

<script>
import ContentContainer from "@/components/layouts/ContentContainer";

export default {
    name: "NewUser",
    components: {
        ContentContainer,
    },
    // data() {
    //     return {
    //         showLoader: true,
    //     };
    // },
};
</script>