<template>
    <content-container title="Обзор добавленных парсеров">
        <custom-button
            label="Добавить парсер"
            type="active"
            @click="addNewParser"
        />
        <div class="parsers-info__card-container">
            <parser-card
                v-for="parser in parsers"
                :key="parser.name"
                :data="parser"
                :afterDeleteAction="loadParserConfigs"
            />
        </div>
    </content-container>
</template>

<script>
import ContentContainer from "@/components/layouts/ContentContainer";
import { mapGetters } from "vuex";
import CustomButton from "../components/controls/CustomButton.vue";
import ParserCard from "../components/ParserCard.vue";

export default {
    name: "ParsersInfo",
    components: {
        ContentContainer,
        CustomButton,
        ParserCard,
    },
    data() {
        return {
            parsers: [],
        };
    },
    mounted() {
        this.loadParserConfigs();
    },
    computed: {
        ...mapGetters(["config"]),
    },
    methods: {
        addNewParser() {
            this.$router.push({ name: "NewParser" });
        },
        loadParserConfigs() {
            this.$http
                .get(this.config.parserConfigUploadURL)
                .then((response) => {
                    console.log(response);
                    this.parsers = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
<style scoped>
.parsers-info__card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
}
@media all and (min-width: 1200px) {
    .parsers-info__card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
    }
}
@media all and (min-width: 1600px) {
    .parsers-info__card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
}
p {
    width: 20%;
}
</style>