<template>
    <content-container title="Загрузка прайсов поставщиков">
        <div class="upload-prices__padding">
            <input
                type="file"
                id="files"
                ref="files"
                multiple
                v-on:change="handleFilesUpload()"
                style="display: none"
            />
            <custom-button
                label="Выбрать прайсы на компьютере..."
                @click="openSelectFiles()"
            ></custom-button>
            <div
                class="upload-prices__selected-files"
                v-for="file in files"
                :key="file.name"
            >
                {{ file.name }}
            </div>

            <custom-button
                type="active"
                label="Загрузить"
                @click="uploadFiles()"
            ></custom-button>
        </div>
    </content-container>
</template>

<script>
import ContentContainer from "@/components/layouts/ContentContainer";
import CustomButton from "@/components/controls/CustomButton";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "UploadPrices",
    components: {
        ContentContainer,
        CustomButton,
    },
    data() {
        return {
            files: "",
        };
    },
    computed: {
        ...mapGetters(["config"]),
    },
    methods: {
        ...mapActions(["toggleActiveLoader", "showNotify"]),
        uploadFiles: function () {
            let formData = new FormData();

            for (let file of this.files) {
                formData.append("prices", file);
            }

            // TODO: добавить возможность настройки домена!
            this.toggleActiveLoader();
            this.$http
                .post(this.config.priceUploadURL, formData, {
                    timeout: 0,
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => {
                    if (response.status === 200) {
                        this.files = "";
                        this.showNotify({
                            type: "success",
                            title: "Загрузка прайсов поставщиков.",
                            text:
                                "Прайсы успешно загружены, обработаны и сохранены в базу данных.",
                        });
                    } else {
                        this.showNotify({
                            type: "error",
                            title: "Загрузка прайсов поставщиков.",
                            text: "Ошибка загрузки прайсов.",
                        });
                    }
                    this.toggleActiveLoader();
                })
                .catch(() => {
                    this.files = "";
                    this.toggleActiveLoader();
                    this.showNotify({
                        type: "warn",
                        title: "Загрузка прайсов поставщиков",
                        text:
                            "Файлы загружены на сервер и обрабатываются. Так как товаров много, обработка может составлять до 15 минут.",
                    });
                });
        },
        handleFilesUpload() {
            this.files = "";
            this.files = this.$refs.files.files;
            console.log(this.files);
        },
        openSelectFiles() {
            this.$refs.files.click();
        },
    },
};
</script>

<style scoped>
.upload-prices__padding {
    padding: 5%;
}
.upload-prices__selected-files {
    text-align: center;
    margin: 25px;
    border: 1px solid #ccc;
    padding: 15px;
}
</style>