<template>
    <group-box :title="data.name" folding="true">
        <div class="information">
            <div class="information_left">
                <!-- <input-text label="Имя парсера:" :value="data.name" /> -->
                <input-text label="Домен:" :value="data.domain" />
                <input-text
                    label="Селектор названия:"
                    :value="data.titleSelector"
                />
                <input-text
                    label="Селектор цены:"
                    :value="data.priceSelector"
                />
            </div>
            <div class="information_right">
                <check-box
                    label="Блокировать стили"
                    :value="data.options.blockCss"
                />
                <check-box
                    label="Блокировать изображения"
                    :value="data.options.blockImages"
                />
                <check-box
                    label="Блокировать медиа"
                    :value="data.options.blockMedia"
                />
                <check-box
                    label="Блокировать скрипты"
                    :value="data.options.blockScript"
                />
                <check-box
                    label="Использовать случайный user-agent"
                    :value="data.options.randomUserAgent"
                />
                <check-box
                    label="Использовать прокси"
                    :value="data.options.useProxy"
                />
            </div>
        </div>
        <custom-text-area
            label="Точечная блокировка запросов"
            :value="data.options.blockList.join('\n')"
        />
        <div class="controls">
            <custom-button label="Редактировать" @click="editParserConfig" />
            <custom-button
                label="Удалить"
                type="danger"
                @click="deleteParserConfig"
            />
        </div>
    </group-box>
</template>

<script>
import CheckBox from "./controls/CheckBox.vue";
import CustomButton from "./controls/CustomButton.vue";
import InputText from "./controls/InputText.vue";
import GroupBox from "./layouts/GroupBox.vue";
import { mapGetters, mapActions } from "vuex";
import CustomTextArea from "./controls/CustomTextArea.vue";

export default {
    components: { GroupBox, CustomButton, InputText, CheckBox, CustomTextArea },
    name: "ParserCard",
    props: ["data", "afterDeleteAction"],
    methods: {
        ...mapActions(["toggleActiveLoader", "showNotify"]),
        editParserConfig() {
            this.$router.payload = this.data;
            this.$router.push({ name: "NewParser" });
        },
        deleteParserConfig() {
            this.toggleActiveLoader();

            const url = `${this.config.parserConfigUploadURL}/${this.data._id}`;
            console.log(this.data);
            this.$http.delete(url).then((res) => {
                if (res.status === 200) {
                    this.showNotify({
                        type: "success",
                        title: "Удаление настроек парсера",
                        text: `Настройки парсера "${this.data.name}" удалены из базы данных.`,
                    });
                    // this.$router.push({ name: "ParsersInfo" });
                    this.afterDeleteAction();
                } else {
                    this.showNotify({
                        type: "error",
                        title: "Удаление настроек парсера",
                        text: `Настройки парсера "${this.data.name}" не удалось удалить из базы данных.`,
                    });
                }
                this.toggleActiveLoader();
            });
        },
    },
    computed: {
        ...mapGetters(["config"]),
    },
};
</script>

<style scoped>
.information {
    display: flex;
    flex-direction: row;
    pointer-events: none;
}
.information_left {
    width: 100%;
    padding: 5px;
}
.information_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}
.controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
</style>
