<template>
    <div id="app">
        <loader />
        <notify />
        <sidebar>
            <!-- <router-link to="/">Сводка</router-link>
            <router-link to="/new-market">Новый магазин</router-link>-->
        </sidebar>
        <div id="content">
            <router-view />
        </div>
    </div>
</template>

<script>
import Sidebar from "./components/sidebar/Sidebar";
import Loader from "@/components/controls/Loader.vue";
import Notify from "@/components/controls/Notify.vue";

export default {
    name: "App",
    components: {
        Sidebar,
        Loader,
        Notify,
    },
};
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgba(0, 137, 201, 0.5);
    --info: rgba(0, 114, 201, 0.5);
    --warn: rgba(201, 80, 0, 0.5);
    --success: rgba(67, 201, 0, 0.5);
    --error: rgba(201, 0, 0, 0.5);
}

#app {
    font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #131313;
}

#content {
    min-height: 100vh;
    margin-left: 250px;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(
        0deg,
        rgb(215, 218, 218) 0%,
        rgba(206, 211, 213, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    ); */
}
</style>
